# default
target/
Cargo.lock

# resources
*/rsc/img/*
*/rsc/data/*
*/rsc/log/*

# resources exceptions
!*/rsc/img/logo_bg.png
!*/rsc/img/logo.png
!*/rsc/img/logo_bg_squared.png
!*/rsc/img/logo_squared.png
!*/rsc/data/hera_PO_EMA_2024.tm
